<!-- Basic form layout section start -->
<section id="login" *ngIf = 'show'>
	<div class="row">
        <div class="col-sm-12">
            <div class="content-header">Product Form</div>
        </div>
    </div>
	<div class="row">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="bordered-layout-basic-form">Product Info</h4>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
	                    <form class="form form-horizontal form-bordered" [formGroup] = "regularForm">
	                    	<div class="form-body">
								<h4 class="form-section"><i class="ft-file-text"></i> Update Product</h4>

		                        <div class="form-group row">
									<label class="col-md-3 label-control" for="name">Product Name</label>
									<div class="col-md-9">
										<input type="text" id="name" class="form-control" placeholder="Product Name" formControlName="name"  required>
										<small class="form-text text-muted danger" *ngIf="!regularForm.get('name').valid && (regularForm.get('name').dirty || regularForm.get('name').touched)">Product Name field is required</small>
		                            </div>
		                        </div>

		                        <div class="form-group row">
									<label class="col-md-3 label-control" for="brand">Brand</label>
									<div class="col-md-9">
		                            	<input type="text" id="brand" class="form-control" placeholder="Brand" name="brand" [(ngModel)] = "product.brand" [ngModelOptions]="{standalone: true}" >
		                            </div>
		                        </div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="sizeChart">Size Chart</label>
									<div class="col-md-9">
										<input type="text" id="sizeChart" class="form-control" placeholder="Size Chart" name="sizeChart" [(ngModel)] = "product.sizeChart" [ngModelOptions]="{standalone: true}">
		                            </div>
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="category">Category</label>
									<div class="col-md-9">
										<select class = 'form-control' [(ngModel)] = 'product["category"]'  [ngModelOptions]="{standalone: true}" (change) = 'onOptionsSelected($event)'placeholder='choose category' >
											<option class='option' *ngFor='let option of fixedCategory' >{{option}}</option>
										</select>
		                            </div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="mrp">MRP</label>
									<div class="col-md-9">
										<input type="text" id="mrp" class="form-control" placeholder="MRP" formControlName = "mrp" [disabled] ="!isCategory" (change) = "onCalculate()" required>
										<small class="form-text text-muted danger" *ngIf="!regularForm.get('mrp').valid && (regularForm.get('mrp').dirty || regularForm.get('mrp').touched)">MRP field is required and should be number</small>
		                            </div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="discount">Discount</label>
									<div class="col-md-9">
										<input type="text" id="discount" class="form-control" placeholder="Discount" formControlName = "discount" [disabled] = "!this.regularForm.get('mrp').value" (change) = "onCalculate()" required>
		                            </div>
								</div>
								<!-- colors
								material
								dryCleaned
								Condition -->
								<div class="form-group row">
									<label class="col-md-3 label-control" for="product.colors">colors</label>
									<div class="col-md-9">
											<!-- <ng-multiselect-dropdown
											class = " form-control"
											[placeholder]="'Choose Colors'"
											[data]="fixedColors"
											[(ngModel)] = "product.colors"
											[ngModelOptions]="{standalone: true}"
											[settings]="dropdownSettings"
											(onSelect)="onItemSelect($event)"
											(onSelectAll)="onSelectAll($event)"
										> 
										</ng-multiselect-dropdown> -->
										<!-- <select  name="degrees" id="degrees" [(ngModel)] = "product.colors"	[ngModelOptions]="{standalone: true}" multiple required>
											<option *ngFor="let color of product.colors" [value]="color">{{color}}</option>
										</select> -->

										<ss-multiselect-dropdown [options]="colorOptions" [(ngModel)]="colorModel" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)" [settings]="colorSettings"></ss-multiselect-dropdown>
		                            </div>
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="material">material</label>
									<div class="col-md-9">
										<tag-input [(ngModel)]="product.material" [ngModelOptions]="{standalone: true}" (onSelect)="onSelect($event)" [modelAsStrings]="true" placeholder="Enter material"></tag-input>
		                            </div>
								</div>
							
								<div class="form-group row">
	                        		<label class="col-md-3 label-control">dryCleaned</label>
	                        		<div class="col-md-9">
										<div class="input-group col-md-9">
											<div class="custom-control custom-radio display-inline-block ml-1">
												<input type="radio" id="dryCleaned" name="dryCleaned" value = 'product.dryCleaned' class="custom-control-input" [value]= 'true' [(ngModel)] = "product.dryCleaned" [ngModelOptions]="{standalone: true}"  #dryCleanControl="ngModel">
												<label class="custom-control-label" for="dryCleaned">Yes</label>
											</div>
											<div class="custom-control custom-radio display-inline-block">
												<input type="radio" id="notDryCleaned" checked name="dryCleaned" value = '!product.dryCleaned' class="custom-control-input" [value] = 'false' [(ngModel)] = "product.dryCleaned" [ngModelOptions]="{standalone: true}">
												<label class="custom-control-label" for="notDryCleaned">No</label>
											</div>
										</div>
									</div>
		                        </div>

								<div class="form-group row">
	                        		<label class="col-md-3 label-control">returnable</label>
	                        		<div class="col-md-9">
										<div class="input-group col-md-9">
											<div class="custom-control custom-radio display-inline-block ml-1">
												<input type="radio" id="returnable" name="isReturnable" value= 'product.returnable' class="custom-control-input" [value]= 'true' [(ngModel)] = "product.returnable" [ngModelOptions]="{standalone: true}" #returnableControl="ngModel">
												<label class="custom-control-label" for="returnable">Yes</label>
											</div>
											<div class="custom-control custom-radio display-inline-block">
												<input type="radio" id="notReturnable" checked name="isReturnable" value = '!product.returnable' class="custom-control-input" [value] = 'false' [(ngModel)] = "product.returnable" [ngModelOptions]="{standalone: true}">
												<label class="custom-control-label" for="notReturnable">No</label>
											</div>
										</div>
									</div>
		                        </div>

								<div class="form-group row">
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="picture">Pictures</label>
									<div>
										<input #myInput id="picture" name="picture" type="file" (change)="fileChangeEvent($event)"  placeholder="Upload files..." multiple style="display:none"/>
										<button #upload (click)="myInput.click()" class="btn btn-raised btn-primary" style="margin-bottom: 0px;">Upload Images</button>
										<!-- <button class="btn btn-raised btn-primary" (click)="myInput.click()">Upload file</button> -->
									    <section id="modals" *ngIf = "urls" >
												<!-- <div class="row">
													<div>
														<div class="content-header">Priview</div>
													</div>
												</div> -->
												<div class="row" matchHeight="card">
													
													<!--Components as content starts-->
													<div *ngFor="let url of urls" class = "imagePrev" style="margin:10px;">
														<a>
															<img class="img-thumbnail"  src="{{url}}" alt="element 06" width="100" height="100" border="100" class="mb-1">
															<button type="button" class="close" aria-label="Close" (click)='onDeleteImage(url)'>
																<span aria-hidden="true">&times;</span>
															</button>
														</a>
													</div>
													<!--Components as content ends-->
												</div>
										</section>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-md-3 label-control" for="Condition">Condition</label>
									<div class="col-md-9">
										<input type="text" id="Condition" class="form-control" placeholder="Condition" name="Condition" [(ngModel)] = "product.Condition" [ngModelOptions]="{standalone: true}">
		                            </div>
								</div>
								

								<div class="form-group row last">
									<label class="col-md-3 label-control" for="description">Description</label>
									<div class="col-md-9">
										<textarea id="description" rows="5" class="form-control" name="description" placeholder="Description" [(ngModel)] = "product.description" [ngModelOptions]="{standalone: true}"></textarea>
									</div>
								</div>
							</div>

							<div class="form-group row last">
								<small *ngIf ="isPayable" class = "col-md-12">our Commission : {{comission}} and you will receive payment: {{regularForm.get('mrp').value}} - {{regularForm.get('discount').value}} - {{comission}} = {{Payment}}</small>
	                        </div>

	                        <div class="form-actions">
	                            <button type="submit" class="btn btn-raised btn-primary"  (click) = "onSave()" >
	                                <i class="fa fa-check-square-o"></i> Save
								</button>
							</div>
						
							
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>
	